.http-method {
  font-size: 0.75rem;
  font-weight: 700;
}

.http-method--detail {
  font-size: inherit;
  margin-right: 0.375rem;
}

.http-method--get {
  color: var(--color-text-brand-default);
}

.http-method--post {
  color: var(--color-icon-positive-default);
}

.http-method--put {
  color: var(--color-text-attention-default);
}

.http-method--patch {
  color: var(--color-text-accent-default);
}

.http-method--delete {
  color: var(--color-text-critical-default);
}

.http-method--head,
.http-method--options {
  color: var(--color-text-secondary-default);
}

.http-method--default {
  color: var(--color-text-primary-default);
}

.http-method-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4.5rem;
  height: var(--scale-size-20);
  padding: 0 var(--scale-size-8);
  border: none;
  border-radius: var(--border-radius-round);
  font-family: var(--font-family-body);
  font-weight: 700;
  font-size: var(--font-size-2xs);
  line-height: var(--font-line-height-2xs);
  color: #fff;
  box-sizing: border-box;
}

.http-method-pill.http-method--get {
  background-color: var(--color-text-brand-default);
}

.http-method-pill.http-method--post {
  background-color: var(--color-icon-positive-default);
}

.http-method-pill.http-method--put {
  background-color: var(--color-text-attention-default);
}

.http-method-pill.http-method--patch {
  background-color: var(--color-text-accent-default);
}

.http-method-pill.http-method--delete {
  background-color: var(--color-text-critical-default);
}

.http-method-pill.http-method--head,
.http-method-pill.http-method--options {
  background-color: var(--color-text-secondary-default);
}

.http-method-pill.http-method--default {
  background-color: var(--color-text-primary-default);
}
